.main-signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
}

.signup-container {
    width: 400px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f9fa;
    border: 0.25px solid black;
    padding: 10px;
}

h1 {
    color: #3a86ff;
}

.email-input,
.password-input,
.username-input {
    width: 350px;
    height: 33px;
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: solid 0.25px black;
    padding-inline: 5px;
    border-radius: 8px;
}

.signup-button {
    width: 363px;
    height: 40px;
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #3a86ff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.signup-button:hover {
    cursor: pointer;
    background-color: #498cf8;
}

.login-text {
    border-bottom: 0.25px solid black;
    color: #3a86ff;
    cursor: pointer;
}

.bottom-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}